@{
    ViewBag.Title = "Home Page";
}


<h1>ASP.NET</h1>
<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>



<br/>
<br/>

<div class="row">
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <img src="~/Images/w8hRLhN7_400x400.jpg" class="media-object" style="width:60px" />
            </div>
            <div class="media-body">
                <h2 class="media-heading">Barack Obama</h2>
                <p>
                    "Vào khoảnh khắc mà chúng ta quyết thuyết phục đứa trẻ, bất cứ đứa trẻ nào, bước qua bậc thềm ấy,
                    bậc thềm màu nhiệm dẫn vào thư viện, ta thay đổi cuộc sống của nó mãi mãi, theo cách tốt đẹp hơn.”
                <p><a class="btn btn-default" href="https://vi.wikipedia.org/wiki/Barack_Obama">Learn more </a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <img src="~/Images/w8hRLhN7_400x400.jpg" class="media-object" style="width:60px" />
            </div>
            <div class="media-body">
                <h2 class="media-heading">Italo Valvino</h2>
                <p>
                    "Chúng ta là ai, mỗi người trong chúng ta là ai nếu không phải tổ hợp của kinh nghiệm, thông tin,
                    những cuốn sách chúng ta đã đọc, những điều chúng ta đã tưởng tượng ra?.”
                </p>
                <p><a class="btn btn-default" href="https://vi.wikipedia.org/wiki/Italo_Calvino">Learn more </a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <img src="~/Images/w8hRLhN7_400x400.jpg" class="media-object" style="width:60px" />
            </div>
            <div class="media-body">
                <h2 class="media-heading"> Robertson Davies</h2>
                <p>
                    "Một cuốn sách thực sự hay nên đọc trong tuổi trẻ, rồi đọc lại khi đã trưởng thành, và một nửa lúc tuổi già,
                    giống như một tòa nhà đẹp nên được chiêm ngưỡng trong ánh bình minh, nắng trưa và ánh trăng.”
                </p>
                <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Robertson_Davies">Learn more </a></p>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/2.png" />
        </div>

        <div class="item">
            <img src="~/Images/3.png" />
        </div>

        <div class="item">
            <img src="~/Images/4.png" />
        </div>
    </div>
</div>